@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* @layer base {
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-display: 
    }
} */