<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/output.css" rel="stylesheet">
    <title>Recipe</title>

    <style>
        .changeingform {
            display: none;
        }
    </style>
</head>
<body>
    <div class="outer" id="outercontain">
        <div>
            <h2>Baked Chicken</h2>
        </div>
        <div>
            <ul>
                <li>1 and 1/2 cups (188g) all-purpose flour (spooned &amp; leveled)</li>
                <li>1 teaspoon baking powder</li>
                <li>1 teaspoon baking soda</li>
                <li>1/2 teaspoon salt</li>
                <li>1 teaspoon ground cinnamon</li>
                <li>1/4 teaspoon ground nutmeg</li>
                <li>1 and 1/2 cups (345g) mashed bananas (about 4 medium or 3 large ripe bananas)</li>
                <li>6 Tablespoons (85g) melted coconut oil</li>
                <li>2/3 cup (135g) packed light or dark brown sugar (or coconut sugar)</li>
                <li>1 large egg, at room temperature</li>
                <li>1 teaspoon pure vanilla extract</li>
                <li>2 Tablespoons (30ml) almond milk (or any lactose-free milk)</li>
                <li>Optional: 1 cup chopped walnuts, pecans, or chocolate chips</li>
            </ul>
        </div>
        <div>
            <ol>
                <li>Preheat oven to 425°F (218°C). Spray a 12-count muffin pan with nonstick spray or use cupcake liners.</li>
                <li>Whisk the flour, baking powder, baking soda, salt, cinnamon, and nutmeg together in a medium bowl. Set aside. In a large bowl, mash the bananas. On medium speed, beat or whisk in the melted coconut oil, brown sugar, egg, vanilla extract, and almond milk. Pour the dry ingredients into the wet ingredients, then beat or whisk until combined. If adding nuts or chocolate chips, fold them in now. Batter will be thick.</li>
                <li>Spoon the batter into liners, filling them all the way to the top. Bake for 5 minutes at 425°F, then, keeping the muffins in the oven, reduce the oven temperature to 350°F (177°C). Bake for an additional 16–18 minutes or until a toothpick inserted in the center comes out clean. The total time these muffins take in the oven is about 21–23 minutes. Allow the muffins to cool for 5 minutes in the muffin pan, then transfer to a wire cooling rack to continue cooling.</li>
                <li>Muffins stay fresh covered at room temperature for a few days or in the refrigerator for up to 1 week.</li>
            </ol>
        </div>
        <br>
    </div>
    <div>
        <form action="/recipe_submission" method="POST" name="changeform" class="changeingform" id="changeiform">
            <div>
                <label for="servings">Change the number of servings:</label>
                <input type="number" id="servings" name="servings" min="1" value="4">
            </div>
            <div>
                <h2>Select the ingredients you don't have or want to substitute out:</h2>
                <fieldset>
                    <label>
                        <input type="checkbox" name="ingredient0">1 cup (240ml) whole milk, warmed to about 100°F (38°C)
                      </label>
                      <label>
                        <input type="checkbox" name="ingredient1">2/3 cup (135g) granulated sugar, divided
                        </label>
                      <label>
                         <input type="checkbox" name="ingredient2">1 and 1/2 tablespoons (14g) active dry or instant yeast (2 standard size packets)
                      </label>
                      <label>
                        <input type="checkbox" name="ingredient3">1/2 cup (8 tbsp; 113g) unsalted butter, softened to room temperature and cut into 4 pieces
                      </label>
                      <label>
                        <input type="checkbox" name="ingredient4">2 large eggs, at room temperature
                      </label>
                      <label>
                        <input type="checkbox" name="ingredient5">1/2 teaspoon salt
                      </label>
                      <label>
                        <input type="checkbox" name="ingredient6">4 and 1/2 cups (563g) gluten-free all-purpose flour, plus more as needed
                      </label>
                      <label>
                        <input type="checkbox" name="ingredient7">2 teaspoons canola, vegetable, or olive oil for bowl (or use nonstick spray)
                      </label>
                </fieldset>
            </div>
            <div style="visibility: hidden;">
                {{ save_ingredients|safe }}
                {{ save_instructions|safe }}
            </div>
            <div>
                <input type="submit" value="Get New Recipe">
            </div>
        </form>
    </div>
    <button onclick="selectIngredients()" id="change">Edit Ingredients and Serving Size</button>
    <div>
    <a href="form.html">Input Another Recipe</a>
    </div>
    <br>
    <script>
        function selectIngredients() {
            document.getElementById("changeiform").style.display = "block";
            document.getElementById("outercontain").style.display = "none";
            document.getElementById("change").style.display = "none";
        }
    </script>
</body>
</html>