<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
    <title>Recipe</title>
</head>
<body>
    <div>
        <h2>{{ name|safe }}</h2>
    </div>
    <div>
        <ul>
            {{ ingredients|safe }}
        </ul>
    </div>
    <div>
        <ol>
            {{ instructions|safe }}
        </ol>
    </div>
    <br>
    <a href="change.html">Edit Ingredients and Serving Size</a> 

    
</body>
</html>