<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
    <title>Recipe</title>

    <style>
        .changeingform {
            display: none;
        }
    </style>
</head>
<body>
    <div class="outer" id="outercontain">
        <div>
            <h2>{{ name|safe }}</h2>
        </div>
        <div>
            <ul>
                {{ ingredients|safe }}
            </ul>
        </div>
        <div>
            <ol>
                {{ instructions|safe }}
            </ol>
        </div>
        <br>
    </div>
    <div>
        <form action="/" method="POST" name="changeform" class="changeingform" id="changeiform">
            <div>
                <label for="servings">Change the number of servings:</label>
                <input type="number" id="servings" name="servings" min="1" required>
            </div>
            <div>
                <h2>Select the ingredients you don't have or want to substitute out:</h2>
                <fieldset>
                    {{ checklist|safe }}
                </fieldset>
            </div>
            <br>
            <div>
                <input type="submit" value="Get New Recipe">
            </div>
        </form>
    </div>
    <button onclick="selectIngredients()" id="change">Edit Ingredients and Serving Size</button>
    <script>
        function selectIngredients() {
            document.getElementById("changeiform").style.display = "block";
            document.getElementById("outercontain").style.display = "none";
            document.getElementById("change").style.display = "none";
        }
    </script>
</body>
</html>